<%= form_with model: user do |u| %>
  <div class="form-group mb-3">
    <%= u.text_field :username, class: "input form-control rounded-pill border-0 shadow-sm px-4", placeholder:"Username" %>
    <%# <input placeholder="Username" required="" autofocus="" class="input form-control rounded-pill border-0 shadow-sm px-4"> %>
  </div>
  <div class="form-group mb-3">
    <%= u.password_field :password_digest, class: "input form-control rounded-pill border-0 shadow-sm px-4", placeholder:"Password" %>
    <%# <input type="password" placeholder="Password" required="" class="input form-control rounded-pill border-0 shadow-sm px-4"> %>
  </div>
  <br>
  <%= u.submit "Log In", class: "btns btn btn-primary btn-block"%>
<% end%>
