<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'login' %>

</head>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image "></div>

    <div class="col-md-6 bg-light background">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="title">Sign in!</h3>
              <p class="letters mb-4"> Enter your username and password </p>
              <%= render "form", user: @user %>
              <br>
              <br>
              <p class="letters mb-4"> Do you not have an account yet?</p>
              <%= button_to "Sign Up", '/users/register', method: :get, class: "btns btn btn-primary btn-block"%>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
