<h1>Edit Note</h1>

<%= render "form", note: @note %>

<style type="text/css">
body {
  color: black;
  background-color: #ffeccd ;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;}

  h1 {
    font-size: 50px ; }

</style>