<h1>Notes</h1>

<ul>
  <% @notes.each do |note| %>
    <li>
    <%= link_to note.title, note %>
    </li>
  <% end %>
</ul>

<button><%= link_to "New Note", new_note_path %></button>

<style type="text/css">
body {
  color: black;
  background-color: #ffeccd ;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;}

  h1 {
    font-size: 50px ; }

</style>