<h1><%= @note.title %></h1>

<p><%= @note.body %></p>

<button class="boton_personalizado"><%= link_to "Edit", edit_note_path(@note), class: "link" %></button>
<button class="boton_personalizado"><%= link_to "Destroy", note_path(@note),
                method: :delete,
                  data: { confirm: "Are you sure?" },class: "link"%></button>


<style type="text/css">
body {
  color: black;
  background-color: #ffeccd ;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;}

  h1 {
    font-size: 50px ; }

    .boton_personalizado{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #000000;
        background-color: #ffffff;
        border-radius: 6px;
        border: 2px solid #acaba9;
      }
      .link{
          color:black;
      }

</style>