@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
body {
    color: black;
    background-color: #ffeccd;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    font-size: 50px;
}

.a_btns {
    color: #fff !important;
    text-decoration: none !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
}

.card-title {
    font-size: 2rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card a {
    color: initial;
}

.card a:hover {
    text-decoration: initial;
}

.card .text-muted i {
    margin: 0 10px;
}

.float_new_note {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #42a8a1;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float_back {
    position: absolute;
    width: 80px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    top: 40px;
    background-color: #42a8a1;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float_sign_out {
    background-color: #42a8a1;
    border-color: #42a8a1;
    border-radius: 20px;
    font-size: 1.45rem;
    width: 11rem;
    color: #fff;
}

.inside_new_note {
    font-size: 28px;
    margin-top: 1.5rem;
}

.inside_back {
    font-size: 28px;
    margin-top: 1.5rem;
}

a:hover {
    color: #666666;
}

.container_total {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
}

.container {
    padding: 1rem;
}

.titulo {
    margin-top: 1rem;
}

input {
    padding: 0.5rem;
    width: 50%;
}

textarea {
    width: 50%;
}

.imagen {
    padding: 0.5rem;
}

.confirmacion {
    padding-top: 1rem;
}

.name_user {
    padding-right: 8rem;
    text-align: right;
}

.user_circle {
    text-align: right;
    padding-right: 4rem;
    margin-top: -7rem;
    font-size: 2.25rem;
}

.btn_show {
    background-color: #42a8a1;
    border-color: #42a8a1;
    border-radius: 10px;
    font-size: 1.45rem;
    width: 11rem;
    height: 4rem;
    color: #fff;
}