/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: black;
    background-color: #ffeccd;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    font-size: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card a {
    color: initial;
}

.card a:hover {
    text-decoration: initial;
}

.card .text-muted i {
    margin: 0 10px;
}

.float_new_note {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #42a8a1;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float_back {
    position: absolute;
    width: 80px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    top: 40px;
    background-color: #507dbc;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.inside_new_note {
    font-size: 28px;
    margin-top: 1rem;
}

.inside_back {
    font-size: 28px;
    margin-top: 1rem;
}

a:hover {
    color: #666666;
    text-decoration: underline;
}

.container_total {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
}

.container {
    padding: 1rem;
}

.titulo {
    margin-top: 1rem;
}

input {
    padding: 0.5rem;
    width: 50%;
}

textarea {
    width: 50%;
}

.imagen {
    padding: 0.5rem;
}

.confirmacion {
    padding-top: 1rem;
}

.name_user {
    padding-right: 7rem;
    text-align: right;
}

.user_circle {
    text-align: right;
    padding-right: 4rem;
    margin-top: -4rem;
    font-size: 2.25rem;
}